<div class="c-from">
    <div class="container-row">
      <form action="" method="post" [formGroup]='frm' (ngSubmit)='login()'>
      
      <br>
      
     
     <div class="col" >
      <h2>login</h2>
       
      <label for="">Username</label><br>
       <input type="text" formControlName='username' class="form-control" >
      
       <div class="alert-danger" *ngIf="username?.touched && !username?.valid">
        <div *ngIf='username?.errors?.required'>name required </div>
      
      </div>
    
        <br>
     
        <label for="">password</label><br>
       <input type="password"  formControlName='password' class="form-control" >
       
       <div class="alert-danger" *ngIf="password?.touched && !password?.valid">
        <div *ngIf='password?.errors?.required'>password required </div>
      
      </div>
       
     
     <br>
     <br>
    <input class="submit" type="submit"[disabled]='!this.frm.valid' value="LOG IN">
    <input class="btn btn-info" type="button"[disabled]='!this.frm.valid' value="register" (click)='services.registration(username!.value,password!.value)'>
    <input class="button" type="button" value="LOG IN VIA GOOGLE" (click)='loginViaGoogle()'>
  </div>
  </form>
